<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="home.html" class="logo"> <i class="fas fa-shopping-basket"></i> NutriGrow </a>

    <nav class="navbar">
        <a href="home.html">home</a>
        <a href="#" onclick="postToShop()">shop</a>
        <a href="about.html">about</a>
        <a href="review.html">review</a>
        <a href="blog.html">blog</a>
        <a href="contact.html">contact</a>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="cart-btn" class="fas fa-shopping-cart"></div>
        <div id="login-btn" class="fas fa-user"></div>
    </div>

    <form action="" class="search-form">
        <input type="text" oninput="w3.filterHTML('#id01', 'li', this.value)"  placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <ul id="id01">
            <li>vegetable</li>
            <li>health</li>
         </ul>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-times"></i>
            <img src="image/cart-1.jpg" alt="">
            <div class="content">
                <h3>organic food</h3>
                <span class="quantity">1</span>
                <span class="multiply">x</span>
                <span class="price">$18.99</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-times"></i>
            <img src="image/cart-2.jpg" alt="">
            <div class="content">
                <h3>organic food</h3>
                <span class="quantity">1</span>
                <span class="multiply">x</span>
                <span class="price">$18.99</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-times"></i>
            <img src="image/cart-3.jpg" alt="">
            <div class="content">
                <h3>organic food</h3>
                <span class="quantity">1</span>
                <span class="multiply">x</span>
                <span class="price">$18.99</span>
            </div>
        </div>
        <h3 class="total"> total : <span>56.97</span> </h3>
        <a href="#" class="btn">checkout cart</a>
    </div>
<% if(user){ %>
    <form action="/signout" class="login-form" method="post">
        <h3>Hi <% users.forEach(function(i){%> <%=  i.username%><% }) %></h3>
        <input type="submit" value="Sign Out"  class="btn">
    </form>
<% } else{%>
    <form action="/login" class="login-form" method="post">
        <h3>login form</h3>
        <input type="email" id="email" name="email" for="email" placeholder="enter your email" class="box">
        <input type="password" id="password" name="password" for="password" placeholder="enter your password" class="box">
        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me">remember me</label>
        </div>
        <input type="submit" value="login now"  class="btn">
        <p>forget password? <a href="#">click here</a></p>
        <p>don't have an account? <a href="#" onclick="postToRegister()">create one</a></p>
<% } %>
</header>

<!-- header section ends -->
