<%- include("partials/header.ejs") %>

<!-- header section ends -->

<div class="heading">
    <h1>about us</h1>
    <p> <a href="/">home >></a> about </p>
</div>

<section class="about">

    <div class="image">
        <img src="image/about-img.jpg" alt="">
    </div>

    <div class="content">
        <span>Welcome To Our NutriGrow Family</span>
        <h3>Fresh and Organic Products For A Healthy Life</h3>
        <p style="text-align: justify;">As we look forward to our centennial, we see vast opportunities in our field that build on our strengths in the areas of nutrition diet and nutrional or organic products practice, education and professional development, science policy and advocacy, and member engagement to become the preeminent, go-to source for all things nutrition.

            To navigate the challenges and opportunities that lie ahead, we have developed a strategic plan that will serve as a roadmap for priorities and investment over the next 10 years.</p>

           <h1>Our Vision:</h1>
            <p>A Healthier World through Evidence-Based Nutrition.</p>
            
            <h1>Our Mission:</h1>
            <p>To Advance the Science, Education and Practice of Nutrition</p>
     
        
    </div>

</section>

<section class="gallery">

    <h1 class="title"> our <span>gallery</span> <a href="#">view all >></a> </h1>

    <div class="box-container">

        <div class="box">
            <img src="image/gallery-img-1.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-2.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-3.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-4.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-5.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="image/gallery-img-6.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

    </div>

</section>




















<!-- footer section starts  -->

<%- include("partials/footer.ejs") %>