<%- include("partials/header.ejs") %>
<!-- header section ends -->

<div class="heading">
    <h1>our blogs</h1>
    <p> <a href="/">home >></a> blogs </p>
</div>

<section class="blogs">

    <h1 class="title"> our <span>blogs</span> <a href="#">view all >></a> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 18 NOVEMBER, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Unbelievable Health Benefits Of Vegetables</h3>
                <p style="text-align: justify;">In This Blog I explained the benefits of eating vegetables and i am sure you will be surprised after knowing these benefits. </p>
                <a href="blog1.html" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="image/blog-2.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 18 November, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Myth Related To Dairy Products</h3>
                <p style="text-align: justify;">Children grow rapidly in the first 5 years of life and have high energy needs. They only have a small stomach..</p>
                <a href="blog2.html" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="image/blog-3.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 21st may, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Why Fruits Are Goods For Skin</h3>
                <p>Vitamin C is necessary for a healthy body. Not only does it help build immunity for internal health.</p>
                <a href="blog3.html" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="image/blog-4.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 21st may, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>How Organic Vegetables Is Benefecial For Our Earth</h3>
                <p style="text-align: justify;">Eating organic reduces the amount of chemicals in the diet, namely persistent pesticides.</p>

                <a href="blog4.html" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="image/blog-5.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 21st may, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Amazing Health Benefits Of Meat </h3>
                <p style="text-align: justify;">The good fatty acids known as omega3s in seafood can keep the heart healthy and may reduce .</p>
                <a href="blog5.html" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="image/blog-6.jpg" alt="">
            </div>
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 21st may, 2021 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Different Types Of Dal In India
                </h3>
                <p style="text-align: justify;">In Indian households, maximum of the food aren't whole with out the dals or lentils. We percentage</p>
                <a href="blog6.html" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>





















<!-- footer section starts  -->
<%- include("partials/footer.ejs") %>