<%- include("partials/header.ejs") %>

<div class="heading">
  <h1>register us</h1>
  <p> <a href="/">home >></a> register </p>
</div>


<section class="contact">
 <div class="row"></div>
    <div class="row">
<form action="/register" method="POST" >
  <h3 style="text-align:center">sign up</h3>
 <div class="inputBox"> 
  <label for="username"><h1>User Name:</h1></label>
 
</div>
<div class="inputBox">
  <input type="text" for="username" id="username" name="username" placeholder="enter your name" class="box" required> 
</div>

<div class="inputBox"><label for="email"><h1>Email:</h1></label></div>
 <div class="inputBox"> 
  <input type="email" placeholder="enter your email" for="email" class="box" id="email" name="email"  required >
</div> 
 
<div class="inputBox"> <label for="password"><h1>Password:</h1></label></div>
 
  <div class="inputBox">
    <input type="password"id="password" name="password" placeholder="enter your password" class="box" required> 
  </div>
  
<div class="inputBox"><label for="confirmPassword"><h1>Confirm Password:</h1></label></div>
  
  <div class="inputBox">
    <input type="text"id="confirmPassword" name="confirmPassword" placeholder="again enter your password" class="box" required> 
  </div>
  <input type="submit" value="Register" class="btn">
  </form>
</div>

</section>
<%- include("partials/footer.ejs") %>