<%- include("partials/header.ejs") %>
<!-- header section ends -->

<div class="heading">
    <h1>client's review</h1>
    <p> <a href="/">home >></a> review </p>
</div>

<section class="info-container">

    <div class="info">
        <img src="image/icon-1.png" alt="">
        <div class="content">
            <h3>fast delivery</h3>
            <span>within 30 minutes</span>
        </div>
    </div>

    <div class="info">
        <img src="image/icon-2.png" alt="">
        <div class="content">
            <h3>24 / 7 available</h3>
            <span>call us anytime</span>
        </div>
    </div>

    <div class="info">
        <img src="image/icon-3.png" alt="">
        <div class="content">
            <h3>easy payments</h3>
            <span>cash or credits</span>
        </div>
    </div>

</section>

<section class="review">

    <div class="box">
        <div class="user">
            <img src="image/pic-1.png" alt="">
            <div class="info">
                <h3>John Cena</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>I’ve had no problem with returning damaged or unsatisfactory products. I normally ask the delivery boy to wait few minutes whilst I check the products in my package </p>
    </div>

    <div class="box">
        <div class="user">
            <img src="image/pic-2.png" alt="">
            <div class="info">
                <h3>Nikki Bella</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>Since we need to wash each, unpacking the cellphone wrapping for each piece makes it very difficult. If you don't have fresh material, pls dont wrap it is plastic. It make life much for difficult during pandemic.</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="image/pic-3.png" alt="">
            <div class="info">
                <h3>Randy Orton </h3>
                <span>happy client</span>
            </div>
        </div>
        <p>Your blogs related to diet and nutrition are really awesome and well explained due to this i am able to loose 80kg of weight.</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="image/pic-4.png" alt="">
            <div class="info">
                <h3>Gal Gadot</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>I was reading comments on ppl got full piece instead they needed jus a slice but the seller clearly mention that its full piece
            Nd pumpkin was in good condition nd instead very cheap from the market
            </p>
    </div>

    <div class="box">
        <div class="user">
            <img src="image/pic-5.png" alt="">
            <div class="info">
                <h3>Brock Lesnar</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>I have bought it on discounts only and I have found the quality to be good.
            In case you find the quality not up to the mark you always have the option to return it at the time of delivery.</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="image/pic-6.png" alt="">
            <div class="info">
                <h3>Elizabeth Olsen</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>It's crunchy n dry n bitter n old n stretchy(n not a good way)
            Def not fresh
            I could plant it for seeds to come n a bit
            I've ordered multiple times hoping, but it's just this ...😔</p>

</section>








<!-- footer section starts  -->

<%- include("partials/footer.ejs") %>





